//== color
$blue: #46d0e3;
$d-blue: #0f6976;
$bk: #545B63;
/*Contact Form 7カスタマイズ*/
/*スマホContact Form 7カスタマイズ*/
@include mq(xs) {
	.inquiry {

		th,
		td {
			display: block !important;
			width: 100% !important;
			border-top: none !important;
			-webkit-box-sizing: border-box !important;
			-moz-box-sizing: border-box !important;
			box-sizing: border-box !important;
		}

		.haveto,
		.any {
			font-size: 14px;
		}
	}
}

.inquiry {
	th {
		text-align: left;
		color: #444;
		padding-right: 5px;
		width: 100%;
		display: block;
	}

	td {
		font-size: 13px;
		width: 100%;
		display: block;
	}

	.haveto {
		font-size: 14px;
		color: #f00;
	}

	.any {
		font-size: 14px;
	}
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	input[type="number"],
	input[type="tel"],
	input[type="range"],
	input[type="date"],
	input[type="month"],
	input[type="week"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="color"],
	textarea{
		font-size: 100%;
		color: #333;
		border: 1px solid #ccc;
		border-radius: 0;
		padding: .5em;
	}
}

.verticallist .wpcf7-list-item {
	display: block;
}

#formbtn {
	display: block;
	padding: 1em 0;
	margin: 30px auto 0 auto;
	width: 33%;
	background: $bk;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	border-radius: 2px;
	border: none;

	@include mq(xs) {
		width: 100%;
	}

	&:hover {
		background: #eee;
		color: $bk;
	}
}

.wpcf7 {
	background: none;
	border: none;
	margin: 0;
	form {
		margin: 0;
	}
}

#wpcf7cpcnf{
	.wpcf7cp-btns{
		button {
			display: block;
			padding: 1em 0;
			margin: 30px auto 0 auto;
			width: 33%;
			background: $bk;
			color: #fff;
			font-size: 18px;
			font-weight: bold;
			border-radius: 2px;
			border: none;

			@include mq(xs) {
				width: 100%;
			}

			&:hover {
				background: #eee;
				color: $bk;
			}
		}
	}
}