.tag,
.tax-series_contents {
	.postcards:nth-of-type(-n+4){
		min-height: auto !important;
	}
}

.postcards__image img{
	  position: relative;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
		aspect-ratio: 16 / 9;
}
.container:has(.one-column){
  padding: 0;
  max-width: 100%;
}
body.page{
.one-column{
  .contents{
    grid-template-columns: 1fr;
    padding: 0;
  }
  .main{
    max-width: 100%;
    padding: 0;
  }
  .main__header{
    margin: 0;
  }
  .main__eyechatch{
    max-height: 30vw;
    img{
      max-height: 30vw;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: center;
         object-position: center;
    }
  }
  #ads{
    margin: 0 auto;
    max-width: calc(var(--ark-width--article, 1000px) + var(--ark-padding--container, 0px) * 2);
    padding-left: var(--ark-padding--container, 0);
    padding-right: var(--ark-padding--container, 0);
  }
}
}


@media not all and (min-width: 600px) {
  .ark-block-blogCard .arkb-boxLink__figure+.arkb-boxLink__body {
      font-size: 1.2rem;
  }
  .arkb-boxLink__content {
    font-size: .9em;
    margin-top: .5em;
    line-height: 2rem;
  }
}