body.post .main {
  padding: 0 8px;
  margin-bottom: 300px;
}
body.post .main h2,
body.post .main h3,
body.post .main h4,
body.post .main h5,
body.post .main h6 {
  margin: 1rem 0;
}
body.post .main h2 {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #545B63;
}
body.post .main h2::before {
  position: absolute;
  right: 53px;
  bottom: -17px;
  width: 0;
  height: 0;
  content: "";
  border-width: 17px 17px 0 0;
  border-style: solid;
  border-color: #545B63 transparent transparent transparent;
}
body.post .main h2::after {
  position: absolute;
  right: 54px;
  bottom: -15px;
  width: 0;
  height: 0;
  content: "";
  border-width: 15px 15px 0 0;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}
body.post .main h3 {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  display: inline-block;
  padding: 0 65px;
  text-align: center;
}
body.post .main h3::before, body.post .main h3::after {
  position: absolute;
  top: calc(50% - 3px);
  width: 50px;
  height: 6px;
  content: "";
  border-top: solid 1px #545B63;
  border-bottom: solid 1px #545B63;
}
body.post .main h3::before {
  left: 0;
}
body.post .main h3::after {
  right: 0;
}
body.post .main h4 {
  font-size: 16px;
}
body.post .main h5 {
  font-size: 14px;
}
body.post .main h6 {
  font-size: 12px;
}
body.post .main h4,
body.post .main h5,
body.post .main h6 {
  font-weight: bold;
}
body.post .main h4::before,
body.post .main h5::before,
body.post .main h6::before {
  content: "\f105";
  font-family: ForkAwesome;
  font-weight: normal;
  margin-right: 1rem;
}
body.post .main a {
  color: #2d73ff;
}
body.post .main a:active, body.post .main a:focus, body.post .main a:hover, body.post .main a:visited {
  color: #2d73ff;
}
@media (max-width: 767px) {
  body.post .main h2 {
    font-size: 17px;
  }
  body.post .main h3 {
    font-size: 15px;
  }
  body.post .main h4 {
    font-size: 13px;
  }
  body.post .main h5 {
    font-size: 11px;
  }
  body.post .main h6 {
    font-size: 10px;
  }
}
@media (max-width: 767px) {
  body.post .main {
    padding: 0 3.658536vw;
    margin-bottom: 30.4878vw;
  }
}
body.post .main p {
  margin: 43px 0;
  word-break: break-all;
}
body.post .main p:last-of-type {
  margin: 43px 0 0;
}
body.post .main img {
  max-width: 100%;
}
body.post .main__header {
  margin: 0 0 47px;
}
@media (max-width: 767px) {
  body.post .main__header {
    margin: 0 0 9.75609756vw;
  }
}
body.post .main__category {
  line-height: 1;
}
@media (max-width: 767px) {
  body.post .main__category {
    line-height: 1.8;
  }
}
body.post .main__category a {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  padding: 4px 5px;
  font-weight: bold;
  font-size: 14.367px;
  letter-spacing: 0.1em;
  border: 1px solid #545b63;
  text-decoration: none;
  margin: 0 10px 0 0;
  transition: all 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 5px;
  color: #545B63;
}
body.post .main__category a:active, body.post .main__category a:focus, body.post .main__category a:hover, body.post .main__category a:visited {
  color: #545B63;
}
@media (max-width: 767px) {
  body.post .main__category a {
    font-size: 3.414634146vw;
    margin-right: 2.926829268vw;
  }
}
body.post .main__title {
  font-size: 22.099px;
  font-weight: bold;
  margin: 17px 0 21px;
}
@media (max-width: 767px) {
  body.post .main__title {
    font-size: 5.121951219vw;
    line-height: 7.31707317vw;
    margin: 4.02439vw 0 2.07317vw;
  }
}
body.post .main__subtitle {
  font-size: 14.063px;
  font-weight: bold;
}
@media (max-width: 767px) {
  body.post .main__subtitle {
    font-size: 3.170731707vw;
  }
}
body.post .main__eyechatch {
  line-height: 0;
}
@media (max-width: 767px) {
  body.post .main__body {
    font-size: 3.4146vw;
    line-height: 5.36585vw;
    max-width: calc(100vw - 36px);
  }
}
body.post .main .topics {
  margin-bottom: 166px;
}
@media (max-width: 767px) {
  body.post .main .topics {
    margin-bottom: 16.463414634vw;
  }
}
body.post .main .topics__title {
  display: block;
  text-align: center;
  font-size: 36px;
  font-family: europa, sans-serif;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-bottom: 58px;
}
body.post .main .topics__title::before, body.post .main .topics__title::after {
  display: none;
}
@media (max-width: 767px) {
  body.post .main .topics__title {
    font-size: 4.39024vw;
    margin-bottom: 9.512195vw;
  }
}
body.post .main .topics.maincontents .postcards a {
  color: #545B63;
}
body.post .main .topics.maincontents .postcards .postcards__title h2 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 0.05em;
  line-height: 1.6;
  border-bottom: none;
}
body.post .main .topics.maincontents .postcards .postcards__title h2::before {
  display: none;
}
body.post .main .topics.maincontents .postcards:nth-of-type(-n+4) {
  flex-basis: calc(33.3333333333% - 19.32px);
  padding-bottom: 6px;
  border: none;
}
@media (max-width: 767px) {
  body.post .main .topics.maincontents .postcards:nth-of-type(-n+4) {
    flex-basis: 100%;
    width: 100%;
    height: 94px;
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
  }
  body.post .main .topics.maincontents .postcards:nth-of-type(-n+4) .postcards__image {
    margin-bottom: 0;
    position: relative;
    width: 123px;
    height: 94px;
  }
  body.post .main .topics.maincontents .postcards:nth-of-type(-n+4) .postcards__inner {
    flex-basis: calc(100% - 123px);
    padding-left: 3.4146vw;
  }
  body.post .main .topics.maincontents .postcards:nth-of-type(-n+4) .postcards__tags {
    font-size: 2.439vw;
  }
  body.post .main .topics.maincontents .postcards:nth-of-type(-n+4) .postcards__tags a {
    font-size: 2.439vw;
    padding-bottom: 0;
    border-bottom: 1px solid #545B63;
  }
  body.post .main .topics.maincontents .postcards:nth-of-type(-n+4) .postcards__title h2 {
    font-size: 3.38164vw;
  }
  body.post .main .topics.maincontents .postcards:nth-of-type(-n+4) .postcards__sub-ttl {
    display: none;
  }
}
body.post .main .postfooter .author-box {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
  padding: 0 0 0 1.5rem;
}
@media (max-width: 767px) {
  body.post .main .postfooter .author-box {
    flex-direction: column;
    align-items: center;
    padding: 0 1.5rem;
  }
}
body.post .main .postfooter .author-box .author-avatar {
  flex-basis: 150px;
}
body.post .main .postfooter .author-box .author-avatar img {
  vertical-align: bottom;
}
body.post .main .postfooter .author-box .author-info {
  flex-basis: 100%;
  padding-right: 2rem;
}
@media (max-width: 767px) {
  body.post .main .postfooter .author-box .author-info {
    padding-right: 0;
  }
}
@media (max-width: 767px) {
  body.post .main .postfooter .author-box .author-info .author-name {
    text-align: center;
  }
}
body.post .main .postfooter .author-box .author-info p {
  margin-top: 2rem;
}
@media (min-width: 992px) {
  body.post .ads {
    display: flex;
    padding: 0 8px 40px;
  }
}/*# sourceMappingURL=post.css.map */